<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-11">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let name of experimentNames; let i = index;">
          <a class="nav-link" href="#tab{{i + 1}}" role="tab" data-toggle="tab" (click)="set(i)">{{ i + 1 }}</a>
        </li>
      </ul>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#infoModal">Info</button>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade" *ngFor="let name of experimentNames; let i = index;" id="tab{{i + 1}}" role="tabpanel">
      <div>
        <h1 class="text-center">Experiment {{i + 1}}</h1>
        <div class="row" *ngIf="visualize(i)">
          <div class="col-6">
            <experiment-data [name]="name" type="2D"></experiment-data>
          </div>
          <div class="col-6">
            <experiment-data [name]="name" type="3D"></experiment-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="Ivan Zdravkov Master's Thesis" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Ivan Zdravkov Master's Thesis</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3>Comparing 2D and 3D methods for 3D skeletal model mapping</h3>
          <p>The master's degree is a result of an 8 month research in the <a href="http://www.k2.t.u-tokyo.ac.jp/">Ishikawa Senoo Laboratory</a>
          of the <a href="https://www.u-tokyo.ac.jp/en/">Tokyo University</a> in Japan. 
          The full graduation thesis in bulgarian can be downloaded here: <a href="https://bitbucket.org/i-z/body-data-comparator/src/master/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%D0%BC%D0%B0%D0%B3%D0%B8%D1%81%D1%82%D1%8A%D1%80%20-%20%D0%98%D0%B2%D0%B0%D0%BD%20%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D0%BA%D0%BE%D0%B2.docx" target="_blank">Дипломна работа магистър - Иван Здравков.docx</a></p>

          <h3>Formulation of the problem</h3>
          <p>The task is to compare the results of a 2D and 3D methods for 3D skeletal model mapping.</p>
          <h3>Architecture</h3>
          <p>
            <b>Result showcase</b>: An <a href="https://angular.io/">Angular</a> application, querying the zipped images from the server to show the results.<br/>
            <b>Data gathering:</b> A C# and a MATLAB applications using the <a href="https://nuitrack.com/">Nuitrack SDK</a> and the <a href="http://gvv.mpi-inf.mpg.de/projects/VNect/">VNect</a> respectively, owned by the Ishikawa Senoo Laboratory.<br/>
          </p>
          <h3>Source Code</h3>
          <p><a href="https://bitbucket.org/i-z/body-data-comparator">https://bitbucket.org/i-z/body-data-comparator</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>